<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>Document</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    
    <h1>this is the the dashbord</h1>
    
    
    {% if session["logged_in"] == True %}
        
        <a href="{{url_for('home')}}"> home </a><br>
        <a href="{{url_for('logout')}}"> logout </a><br>

        <p>welcome {{ session["username"]}}, {{ token }}</p>
        
        <form method="POST">
        <textarea placeholder="place your text here" name="notes"></textarea>
        <button name="note" type="submit">add note</button>
        
        </form>
        
        {% for note_ in tasks %}
            <p>{{note_}}</p>
        {% endfor %}
        
    {%else%}
        <a href="{{url_for('signup')}}"> signup </a><br>
        <a href="{{url_for('signin')}}"> signin </a><br>
    {% endif %}
    {% endblock %}
</body>
</html>